@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.rock {
  @apply absolute -bottom-16 left-9 lg:-bottom-16 lg:left-14 cursor-pointer;
}

.result-rock {
  @apply w-32 lg:w-72 h-32 lg:h-72;
}

.paper {
  @apply absolute -top-12 -left-12 lg:-top-20 lg:-left-20 cursor-pointer;
}

.result-paper {
  @apply w-32 lg:w-72 h-32 lg:h-72;
}

.scissors {
  @apply absolute -top-12 -right-16  lg:-top-20 lg:-right-20 cursor-pointer;
}

.result-scissors {
  @apply w-32 lg:w-72 h-32 lg:h-72;
}

.table-cell span {
  @apply text-base;
}

.circle-image {
  position: relative;
}

.circle-image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 163px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;
}

.winner:is(.result-rock, .result-paper, .result-scissors)
  .circle-image::before {
  width: 164px;
  height: 166px;
  opacity: 1;
}

.winner:is(.result-rock, .result-paper, .result-scissors)
  > div.circle-image::before {
  width: 264px;
  height: 254px;
  opacity: 1;
}

.winner:is(.result-rock, .result-paper, .result-scissors)
  > div
  > div.circle-image::before {
  width: 360px;
  height: 368px;
  opacity: 1;
}

.looser:is(.result-rock, .result-paper, .result-scissors)
  .circle-image::before {
  width: 144px;
  height: 146px;
  opacity: 1;
}

.looser:is(.result-rock, .result-paper, .result-scissors)
  > div.circle-image::before {
  width: 164px;
  height: 164px;
  opacity: 1;
}

.looser:is(.result-rock, .result-paper, .result-scissors)
  > div
  > div.circle-image::before {
  width: 180px;
  height: 188px;
  opacity: 1;
}

@media (min-width: 960px) {
  .circle-image::before {
    width: 250px;
    height: 250px;
  }

  .winner:is(.result-rock, .result-paper, .result-scissors)
    .circle-image::before {
    width: 424px;
    height: 416px;
    opacity: 1;
  }

  .winner:is(.result-rock, .result-paper, .result-scissors)
    > div.circle-image::before {
    width: 564px;
    height: 554px;
    opacity: 1;
  }

  .winner:is(.result-rock, .result-paper, .result-scissors)
    > div
    > div.circle-image::before {
    width: 730px;
    height: 718px;
    opacity: 1;
  }

  .looser:is(.result-rock, .result-paper, .result-scissors)
    .circle-image::before {
    width: 424px;
    height: 416px;
    opacity: 1;
  }

  .looser:is(.result-rock, .result-paper, .result-scissors)
    > div.circle-image::before {
    width: 564px;
    height: 554px;
    opacity: 1;
  }

  .looser:is(.result-rock, .result-paper, .result-scissors)
    > div
    > div.circle-image::before {
    width: 730px;
    height: 718px;
    opacity: 1;
  }
}

.circle-image:hover::before {
  opacity: 1;
}
